

<a class="btn btn-info"  href="/persons/new">New Person</a>
<div></div>
<a class="btn btn-info"  href="/categories/new">New Category</a>
<div></div>
<a class="btn btn-info"  href="/persons/all">Show All Persons</a>
